/** @format */
.LightMode-body {
  background-color: #ffffff;
  color: #1f1f1f;
}
.LightMode {
  background-color: #f0f4f9;
  color: #1f1f1f;
  box-shadow: none;
}
.LightMode-ham {
  background-color: #1f1f1f;
}
.LightMode-WelcMsg {
  color: #f0f4f9;
  background-color: #1f1f1f;
}
.LightMode-gradient {
  background-image: radial-gradient(
    closest-side,
    rgba(199, 44, 234, 0.21),
    #fff
  );
}
