* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --bg-color-main: rgb(3 7 18);
  --bg-education-card: rgb(8 15 35);
  --bg-skill-card: rgba(0, 0, 0, 0.5);
  --color-logo-slide: #D91656;
  --bg-project-code-button: #f0f4f9;
}

body {
  color: #fff;
}

/* navbar start */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-color-main);
  padding: 1rem;
}

.cover {
  position: absolute;
  transition: all 0.45s ease-in-out;
}

.cover2 {
  position: absolute;
  transition: all 0.9s ease-in-out;
}

header h1 {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
  transform: rotate(-5deg);
  animation: upDown 1s forwards;

}

@keyframes upDown {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

header h1::after {
  content: "";
  position: absolute;
  top: 36px;
  background-color: var(--color-logo-slide);
  height: 4px;
  width: 24px;
}

header h1::first-letter {
  font-size: 2rem;
  color: orange;
  font-weight: 700;
}

header h1:hover {
  animation: bubble 0.4s forwards;

  &::after {
    display: none;
  }
}

@keyframes bubble {
  0% {
    opacity: 0.7;
    transform: scale(0.8);
  }

  25% {
    opacity: 0.8;
    transform: scale(0.7);
  }

  70% {
    opacity: 0.9;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

header .navbar ul {
  display: flex;
  transition: all 0.6s ease-in-out;
  justify-content: center;
  align-items: center;
}

header .navbar ul li {
  margin-left: 2.5rem;
  cursor: pointer;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1.2rem;
}

header .navbar ul .linkedin {
  background-color: rgb(13, 28, 68);
  padding: 10px;
  border-radius: 10px;
}

header .navbar ul .linkedin a i {
  margin-right: 12px;
}

header .navbar ul li a {
  color: #fff;
}

.ham i {
  font-size: 1.5rem;
}

/* navbar end */


/* hero section start */
.hero {
  background-color: var(--bg-color-main);
  height: 81vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  overflow: hidden;
  position: relative;
}

.hero .project {
  position: absolute;
  height: 78vh;
  width: 90%;
  margin: auto;
  background-color: var(--bg-education-card);
  z-index: 9999;
  top: 0;
  border-radius: 20px;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.hero .project::-webkit-scrollbar {
  display: none;
}

.hero .cross {
  position: absolute;
  z-index: 99999;
  top: -2px;
  right: 56px;
  font-size: 3rem;
  transition: all 0.6s ease-in-out;
}

.hero .cross-hide {
  display: none;
}

.hero .project .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .project .cards .card {
  /* position: absolute; */
  width: 80%;
  /* background-color: black; */
  padding: 20px;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 2px dotted #fff;
}

.hero .project .cards .card h3 {
  font-size: 22px;
  margin-top: 50rem;
  font-family: "Manrope", sans-serif;
  text-align: center;
  padding: 10px;
  border: 2px dotted;
}

.hero .project .cards .card h2 {
  font-family: "Manrope", sans-serif;
}

.hero .project .cards .card img {
  height: 466px;
  width: 80%;
  background-size: cover;
  border-radius: 20px;
}

.hero .project .cards p {
  font-family: "Fira Mono", monospace;
  max-width: 70%;
  border: 2px dotted #fff;
  padding: 10px;
}

.hero .project .cards button {
  padding: 8px 10px;
  border: none;
  background-color: var(--bg-project-code-button);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.hero .project .cards button:hover {
  background-color: #dfe4ea;
  border-radius: 5px;
}

.hero .project .cards button a {
  color: #585858;
  font-size: 20px;
}

.hero .project-toggle {
  transform: scale(0.2);
  translate: 0px -720px;
  /* display: none; */
}

.gradient {
  height: 75vh;
  width: 1000px;
  background-image: radial-gradient(closest-side,
      rgba(199, 44, 234, 0.21),
      rgb(3 7 18));
  position: absolute;
  right: 100px;
}

.hero .hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 99;
  flex-wrap: wrap;
  padding: 1rem;
  width: 90%;
  margin: auto;
  overflow: hidden;
  height: 80%;
  transition: all 0.6s ease-in-out;
  animation: slideup 0.6s forwards;
}

@keyframes slideup {
  0% {
    translate: 0px 322px;
    opacity: 0;
  }

  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

.hero .hero-main .info {
  max-width: 59%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.hero .hero-main .info h3 {
  color: rgb(139 137 137);
  font-family: "Fira Mono", monospace;
}

.hero .hero-main .info .name {
  font-size: 70px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .hero-main .info .para {
  max-width: 80%;
  font-size: 1.5rem;
  font-family: "Fira Mono", monospace;
}

.hero .hero-main .myImg {
  max-width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 1rem;
  transition: all 1s step-end;
  animation-delay: 1s;
  animation: myimageAni 1.5s forwards;
}

@keyframes myimageAni {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1) translateY(45px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.iphone {
  position: absolute;
  position: absolute;
  right: 0;
  top: 0;
  background-position: cover;
}

.hero .hero-main.myImg .imgName span {
  margin-left: 0.7rem;
  font-family: "Fira Mono", monospace;
  font-size: 1.3rem;
}

.hero .hero-main .myImg .mail span {
  margin-left: 0.7rem;
  font-family: "Fira Mono", monospace;
  font-size: 1.3rem;
}

.hero .hero-main .myImg img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}



/* hero section end */

/* education section start */
.education {
  color: #fff;
  background-color: var(--bg-color-main);
  border-top: 1px solid;
}

.education .collages {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.education .collages h2 {
  font-size: 4rem;
  font-family: "Fira Mono", monospace;
  transition: all 0.4s ease-out;
  position: relative;
}

.education .collages h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  margin-top: 12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 0, 0, 0.607);
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.education .collages h2:hover:after {
  transform: scaleX(1);
}

.education .collages .iitm,
.education .collages .gour {
  background-color: var(--bg-education-card);
  width: 80%;
  padding: 32px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border: 2px dotted;
}

.education .collages .iitm .img img {
  max-width: 33rem;
  height: 25rem;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.education .collages .iitm .img img:hover {
  opacity: 0.5;
  border: 2px solid #fff;
}

.education .collages .iitm .iitmData {
  max-width: 40%;
  font-size: 1.5rem;
  font-family: "Fira Mono", monospace;
  position: relative;
}


.education .collages .gour .img img {
  height: 25rem;
  max-width: 33rem;
  background-size: cover;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.education .collages .gour .img img:hover {
  opacity: 0.5;
  border: 2px solid #fff;
  z-index: -2;
}

.education .collages .gour .gourData {
  max-width: 40%;
  font-size: 1.5rem;
  font-family: "Fira Mono", monospace;
}


/* education section end */




/* about section start */
.about {
  color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-color-main);
  position: relative;
  border-top: 1px solid;
}

.gradient-about {
  height: 350px;
  width: 1000px;
  background-image: radial-gradient(closest-side, rgba(199, 44, 234, 0.21), rgb(3 7 18));
  position: absolute;
  right: 100px;
  top: 449px;
}

.about .aboutHeading h2 {
  color: #FFF;
  font-size: 3rem;
  font-family: "Fira Mono", monospace;

}

.about .aboutDescription {
  font-size: 1.5rem;
  width: 80%;
  font-family: "Fira Mono", monospace;
}

.about .skills {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  perspective: 800px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 70%;
}


.about .skills .skill {
  background-color: var(--bg-skill-card);
  height: 10rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  border: 2px dotted;
  font-family: "Fira Mono", monospace;
  box-shadow: rgba(85, 85, 98, 0.25) 0px 30px 60px -12px inset, rgba(180, 172, 172, 0.3) 0px 18px 36px -18px inset;

}

.about .skills .skill:hover {
  transform: rotateY(10deg);
  box-shadow: 0 0 12px #04fffb,
    0 0 25px #04fffb;
}

.about .skills .skill i {
  font-size: 2rem;
}

.about .skills .skill div {
  height: 4rem;
  width: 4rem;
  padding: 0.9rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2 ease-out;
}

.about .skills .skill div:hover {
  background-color: #ffe;
}

.about .skills .skill div .fa-html5 {
  color: orangered;
}

.about .skills .skill div .fa-css3-alt {
  color: blue;
}

.about .skills .skill div .fa-js {
  color: rgba(239, 235, 16, 0.858);
}

.about .skills .skill div .bxl-nodejs {
  color: green;
}

.about .skills .skill div .bxl-mongodb {
  color: green;
}

.about .skills .skill div .fa-square-git {
  color: brown;
}

.about .skills .skill div .fa-python {
  color: rgb(11, 11, 131);
}

.about .skills .skill div .bxl-c-plus-plus {
  color: rgb(27, 99, 200);
}


/* about section end */



/* contact section start */
.contactme {
  background-color: var(--bg-color-main);
  color: #fff;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid;
}

.contactme h2 {
  font-size: 3rem;
  font-family: "Fira Mono", monospace;
}

.contactme .container {
  width: 81%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border: 2px dotted;
}

.contactme .container form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.contactme .container form label {
  font-size: 1.5rem;
  font-family: "Fira Mono", monospace;
}

.contactme .container form input {
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  padding: 1.5rem;
}

.contactme .container form input:focus {
  border: 1px solid rgb(67, 67, 220);
}

.contactme .container form textarea {
  width: 100%;
  height: 1.5rem;
  padding: 0.5rem;
  height: 5rem;
  border-radius: 12px;
  border: none;
}

.contactme .container form button {
  font-family: "Fira Mono", monospace;
  width: 77%;
  height: 2rem;
  border-radius: 12px;
  border: none;
  color: #fff;
  background-color: rgba(41, 58, 105, 0.808);
  transition: all 0.3s ease-in-out;
}

.contactme .container form button:hover {
  background-color: rgba(82, 122, 215, 0.808)
}


@media(max-width: 641px) {
  .contactme h2 {
    font-size: 2.1rem;
  }

  .contactme .container {

    align-items: flex-start;

  }

  .contactme .container form input {
    width: 95%;
  }

  .contactme .container form textarea {
    width: 98%;
  }

  .contactme .container form label {
    font-size: 1.1rem;
  }

  .contactme .container form button {
    width: 52%;
  }

}

@media(max-height: 660px) {
  .contactme {
    height: 117vh;
  }
}

/* contact section end */


/* footer start */

.footer {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: #fff;
  gap: 2rem;
  background-color: var(--bg-color-main);
  font-family: "Fira Mono", monospace;
  border: 1px solid rgb(78, 55, 14);
}

.footer .socials div {
  margin-bottom: 6px;
}

.footer .socials div a {
  text-decoration: none;
  color: #fff;
}

.footer .socials div i {

  margin-right: 11px;

}


.footer .arrow a {
  color: #fff;
  font-size: 5rem;
}

.footer .details .img {
  display: flex;
  align-items: center;

}

.footer .details .img span {
  font-family: "Fira Mono", monospace;
  font-size: 1.2rem;
}

.footer .details .img img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}


/* footer end */